
  <h3>Add a task</h3>
  <form action="/tasks/add" method="POST">
    <div>
      <label for="title">Escribe un titulo:</label>
      <input
        type="text"
        name="title"
        placeholder="title"
      />
    </div>

    <div>
      <label for="description">Escribe una descripcion:</label>
      <textarea
        name="description"
        placeholder="description"
      ></textarea>
    </div>

    <div>
      <button>ADD</button>
    </div>

  </form>
