 

    <nav>
            
                <a href="/" class="navbar-brand">APP TRAILERS</a>
            
            <div class="registers">
                  <a href="">Login</a>
                    <a href="">Singup</a>
            </div>
              
            
    </nav>
{{!-- 
       <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/edit">edit</a></li>
    </ul> --}}